<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUDoperations</display-name>
  <welcome-file-list>
    <welcome-file>LoginFirst.Html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPass</param-name>
    <param-value>cr7@7</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/ronaldo</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Loginfunctionality</display-name>
    <servlet-name>Loginfunctionality</servlet-name>
    <servlet-class>com.model.Loginfunctionality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginfunctionality</servlet-name>
    <url-pattern>/Loginfunctionality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProducts</display-name>
    <servlet-name>AddProducts</servlet-name>
    <servlet-class>com.model.AddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProducts</servlet-name>
    <url-pattern>/AddProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtraActivity</display-name>
    <servlet-name>ExtraActivity</servlet-name>
    <servlet-class>com.model.ExtraActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtraActivity</servlet-name>
    <url-pattern>/ExtraActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProduct</display-name>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>com.model.deleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProduct</display-name>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>com.model.updateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showProducts</display-name>
    <servlet-name>showProducts</servlet-name>
    <servlet-class>com.model.showProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showProducts</servlet-name>
    <url-pattern>/showProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forward</display-name>
    <servlet-name>forward</servlet-name>
    <servlet-class>com.model.forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
</web-app>